NEXT_PUBLIC_CONTRACT_ADDRESS=0x7436e55bb95Ce016938c16f8cB0B9158e537d088
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=6a212c211bf1ab98bb37b99b
NEXT_PUBLIC_BUILDER_CODE_DATA_SUFFIX=0x

BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
PRIVATE_KEY=replace-with-deployer-private-key
